<form  (submit)="loginUser()">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="user.email" id="email">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Add">
</form>
